﻿<!DOCTYPE HTML>
<head>
    <meta charset="utf-8">
    <title>Крошечный документ HTML5</title>
    <script src="vue.js"></script>
 </head>
 <body>
 <div id="app">{{ message }}
	 <button v-on:click="changeMsg">Hi</button>
	 </div>

 </body>

 <script>
	 var app = new Vue({
		 el: '#app',
		 data: {
			 message: 'Hello Vue!'
		 },
		 methods: {
			 changeMsg: function() {
				 this.message = "HELLO";
			 }
		 }
	 })

 </script>